@using System.Diagnostics
@using System.Net.Http
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div xmlns="http://www.w3.org/1999/html">
    @if (ViewBag.activeUser != null) {
        <ul>
            @foreach (var i in ViewBag.products) {
                @using (Html.BeginForm("CartAddAction", "Home", FormMethod.Post))
                {
                    <li>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                @i.ProductName
                            </li>
                            <li class="list-group-item">
                                @i.ProductPrice ₺
                            </li>
                            <li class="list-group-item">
                                <ul class="list-group list-group-horizontal"><li class="list-group-item">
                                    <input type="text" placeholder="@i.ProductMeasurementUnit" name="productQuantity">
                                    <button type="submit" name="manageActionValue" value="AddToCart">Add To Cart</button>
                                    <input type="hidden" name="productName" value="@i.ProductName">
                                </li></ul>
                            </li>
                        </ul>
                    </li>
                }
            }
        </ul>
        
    } else {
        <ul>
            @foreach (var i in ViewBag.products) {
                <li>
                    <ul style="display: inline">
                        <li>
                            @i.ProductName
                        </li>
                        <li>
                            @i.ProductPrice ₺
                        </li>
                        <li>
                            @i.ProductQuantity @i.ProductMeasurementUnit
                        </li>
                    </ul>
                </li>
            }
        </ul>
    }
    
    
    
    


</div>
