@using System.Diagnostics
@using System.Net.Http
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div xmlns="http://www.w3.org/1999/html">
    @if (ViewBag.activeUser[0] != null && ViewBag.activeUser[0] != "") {
        Console.WriteLine($"Text is |{ViewBag.activeUser[0]}|");
        <div class="container">
            @foreach (var i in ViewBag.products) {
                @using (Html.BeginForm("CartAddAction", "Home", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm">
                            @i.ProductName
                        </div>
                        <div class="col-sm">
                            @i.ProductPrice ₺
                        </div>
                        <div class="col-md">
                            <input type="text" class="form-control" placeholder="@i.ProductMeasurementUnit" name="productQuantity">
                        </div>
                        <div class="col-sm">
                            <button class="btn btn-outline-primary" type="submit" name="manageActionValue" value="AddToCart">Add To Cart</button>
                        </div>
                        <div class="col-sm">
                            <input type="hidden" name="productName" value="@i.ProductName">
                        </div>
                    </div>
                }
            }
        </div>
    } else {
        <div class="container">
            @foreach (var i in ViewBag.products) {
                @using (Html.BeginForm("CartAddAction", "Home", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm">
                            @i.ProductName
                        </div>
                        <div class="col-sm">
                            @i.ProductPrice ₺
                        </div>
                    </div>
                }
            }
        </div>
    }
    
    
    
    


</div>
